*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    gap: 1rem;
    margin-inline: auto;
    width: 600px;
    aspect-ratio: 1/1;
    border: solid 1px black;
    padding: 15px;
}
div{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.div_1{
    grid-column: 1/span 1;
    grid-row: 1/span 2;
}
.div_2{
    grid-column: 2/span 2;
    grid-row: 1/span 1;
}
.div_3{
    grid-column: 4/span 1;
    grid-row: 1/span 1;
}
.div_4{
    grid-column: 2/span 1;
    grid-row: 2/span 1;
}
.div_5{
    grid-column: 3/span 2;
    grid-row: 2/span 1;
}
.div_6{
    grid-column: 1/span 1;
    grid-row: 3/span 1;
}
.div_7{
    grid-column: 2/span 2;
    grid-row: 3/span 1;
}
.div_8{
    grid-column: 1/span 2;
    grid-row: 4/span 1;
}
.div_9{
    grid-column: 3/span 1;
    grid-row: 4/span 1;
}
.div_10{
    grid-column: 4/span 1;
    grid-row: 3/span 2;
}
.div_11{
    grid-column: 1/span 1;
    grid-row: 5/span 2;
}
.div_12{
    grid-column: 2/span 2;
    grid-row: 5/span 1;
}
.div_13{
    grid-column: 4/span 1;
    grid-row: 5/span 1;
}
.div_14{
    grid-column: 2/span 1;
    grid-row: 6/span 1;
}
.div_15{
    grid-column: 3/span 2;
    grid-row: 6/span 1;
}
