div{
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    position: relative;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

li{
    position: relative;
    padding-left: 25px;
    margin: 5px;
}

.text li::before{
    content: '';
    position: absolute;
    left: 0;
    top: .2rem;
    display: inline-block;
    width: 16px;
    aspect-ratio: 1/1;
    border: solid 2px black;
    background: url(./assets/images/check.jpg) center/60% no-repeat;
    border-radius: 50%;
}
