* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container {
    width: 43.75rem;
    height: 37.5rem;
    border: solid 1px grey;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-items1 {
    border: solid 1px black;
    width: 8.125rem;
    height: 40.625rem;
    background-color: black;
}

.flex-items2 {
    width: 34.375rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body1 {
    width: 32rem;
    height: 8rem;
    background-color: rgb(228, 226, 226);
    border-radius: 8px;
}

.body2 {
    width: 32rem;
    height: 15rem;
    display: flex;
    justify-content: space-between;
}

.left-side {
    width: 14.5rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box1 {
    border: solid 1px rgb(206, 204, 204);
    border-radius: 5px;
    width: 14.5rem;
    height: 6.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.box1-part1 {
    border: solid 1px rgb(206, 204, 204);
    border-radius: 5px;
    background-color: rgb(228, 226, 226);
    width: 4rem;
    height: 4.5rem;
}

.box1-part2 {
    border: solid 1px rgb(206, 204, 204);
    border-radius: 5px;
    background-color: rgb(228, 226, 226);
    width: 4rem;
    height: 4.5rem;
}

.box1-part3 {
    border: solid 1px rgb(206, 204, 204);
    border-radius: 5px;
    background-color: rgb(228, 226, 226);
    width: 4rem;
    height: 4.5rem;
}

.box2 {
    border: solid 1px rgb(206, 204, 204);
    border-radius: 5px;
    width: 12rem;
    height: 6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box2-part1 {
    border: solid 1px rgb(206, 204, 204);
    border-radius: 5px;
    background-color: rgb(228, 226, 226);
    width: 5.5rem;
    height: 5rem;
}

.box2-part2 {
    border: solid 1px rgb(206, 204, 204);
    border-radius: 5px;
    background-color: rgb(228, 226, 226);
    width: 5.5rem;
    height: 4rem;
}

.right-side {
    border: solid 1px rgb(206, 204, 204);
    border-radius: 5px;
    width: 14.5rem;
    height: 15rem;
    overflow: hidden;

}
.box-top{
    width: 14.5rem;
    height: 7rem;
    background-color: rgb(228, 226, 226);
}
.body3{
    width: 32rem;
    height: 7rem;
    background-color: rgb(228, 226, 226);
    border-radius: 5px;
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}
.body3-box1{
    width: 5.5rem;
    height: 4rem;
    border-radius: 5px;
    background-color: rgb(117, 116, 116);
}
.body3-box2{
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 5px;
    background-color: rgb(254, 255, 255);
    overflow: hidden;
}
.body3-box2-part{
    width: 5.5rem;
    height: 3.5rem;
    background-color:  rgb(117, 116, 116);    
}
.body3-box3{
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 5px;
    background-color: rgb(117, 116, 116);
}
.body3-box4{
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 5px;
    background-color: rgb(252, 255, 255);
}
.body3-box5{
    width: 3rem;
    height: 4rem;
    border-radius: 5px;
    background-color: rgb(117, 116, 116);
}